body {
  text-align: center;
  background-color: #1A374D;
}

h1 {
  font-size: 5rem;
  color: #406882;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #6998AB;

}

footer {
  color: #B1D0E0;
  font-family: sans-serif;
}

.w {
   background-image: url("images/crash.png");
}

.a {
  background-image: url("images/kick.png");
}

.s {
  background-image: url("images/snare.png");
}

.d {
  background-image: url("images/tom1.png");
}

.j {
  background-image: url("images/tom2.png");
}

.k {
  background-image: url("images/tom3.png");
}

.l {
  background-image: url("images/tom4.png");
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: #1A374D;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #406882;
  opacity: 0.5;
}

.red {
  color: #6998AB;
}

.drum {
  outline: none;
  border: 10px solid #370665;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #FC9918;
  text-shadow: 3px 0 #35589A;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: #F14A16;
  box-shadow: inset 5px 5px 12px #ffffff;
}
.pressed{
  box-shadow: 0 10px 15px 2 #DBEDF3;
  opacity: 0.5;
  transform:scale(1.3,1.3);
  -webkit-transform:scale(1.3,1.3);
  -moz-transform:scale(1.3,1.3);
}
